@import url('../index.css');
.buttonBox{
    position: relative;
    left: 100rem;
    bottom: 28rem;
    width: 10rem;
    height: 3rem;
}

.buttonBox button{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    border-width: 0;
}  

.buttonBox button:hover{
    background-color :var(--light-blue);
    color: white;
}