.table-responsive{
    /* max-width: 75%; */
    width: 64%;
    border: 1px solid var(--neutral-blue);
    overflow-y: scroll;
    height:fit-content;
    /* padding: 15% */
    overflow-y: hidden;
    border-radius: 1rem;
}

.table-product {
    font-size: 1.7rem;
    width: 100%;
    white-space: nowrap;
}

.table-responsive table>thead{
    background-color: var(--neutral-blue);
    text-align: center;
    text-transform: capitalize
}

.table-responsive table>thead th{
    padding: 15px
}

.table-product th,
.table-product td{
border: 1px solid  var(--light-blue);
}

.table-product>tbody>tr>td{
text-align: center;
}

.action_btn{
    display: flex;
    justify-content: center;
    gap: 1rem
}
.action_btn>a{
    text-decoration: none;
    color: var(--light-blue);
    border: 2.5px solid var(--neutral-blue);
    background-color:white;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius:4px;
    transition: 0.3s ease-in-out;
}

.action_btn>a:nth-child(1){
    border-color: var(--light-blue);
}
.action_btn>a:nth-child(2){
    border-color: red;
}

.action_btn>a:hover{
    box-shadow: 0 3px 8px black;
}

.table-product>tbody>tr:hover{
    background-color:var(--text-contrast-blue);
    transition:0.2s ease-in-out;
}


/* opciones de busqueda  y nuevo producto */
.container-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 75%
}

.search-box{
    /* position: absolute; */
    display: flex;
    align-items: center;
    background-color: var(--text-contrast-blue);
    height: 4rem;
    border-radius:4rem;
}

.search-box input {
    height: 50%
}

.search-box:hover > .search-txt{
    transition:0.4s;
    width:240px;
    padding:0 6px;

}
.search-box:hover > .search-btn{
    background-color: white;
    transition:0.4s
}
.search-btn {
    color: var(--neutral-blue);
    width:4rem;
    height: 4rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background-color: var(--lyla);
    transition: 0.4s
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    /* float:left; */
    padding:0;
    font-size: 1.6rem;
    color: var(--dark-blue);
    transition: 0.4s ;
    line-height: 4rem;
    width:0;
    /* color: white; */
}

.search-box a{
    text-decoration: none;
}






/* utiliti */
.product-section{
    flex-direction: column;
    justify-content: space-evenly
}